<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>    

    <div class="header">  
     <h3 class="platform">URL Guardian</h3>     
    </div>

    <div id="binarystream"></div>

    <main class="page">    

       <div class="fullbar">
         <input type="text" placeholder="insert URL" id="searchbar">
            
            <div>
             <button id="scanbtn">scan</button>  
             </div>          
        </div>

        <div id="progresscont">
            <div id="progressbar"></div>
        </div>

        <div id="responsebox"></div>
    </main>

    <footer>
       <button id="histbtn">history</button>
       <div id="histpage" style="display:none;" ></div>
    </footer>
    
    <script src="../static/script.js"></script>
</body>
</html>